scatter-gather-proxy-soap/src/main/mule/proxying-a-soap-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sor-product="http://www.mulesoft.org/schema/mule/sor-product" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sor-product http://www.mulesoft.org/schema/mule/sor-product/current/mule-sor-product.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="007cd910-ecad-41fd-a651-663fbfbd8e04" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="b371c47f-a4ef-41e9-91c7-b6bacc67fb2e" >
		<wsc:connection wsdlLocation="http://petshop.sixeyed.com:8085/ProductService.svc?wsdl" service="ProductService" port="BasicHttpBinding_IProductService" address="http://petshop.sixeyed.com:8085/ProductService.svc" />
	</wsc:config>
	<sor-product:config name="Sor_product_Config" doc:name="Sor-product Config" doc:id="4397ebeb-b381-49a1-9326-0cb81fbdc7f3" property_host="sor-product.us-e2.cloudhub.io" property_port="80" property_basePath="/api/products" property_protocol="HTTP" />
	<sor-product:config name="Sor_product_Config1" doc:name="Sor-product Config" doc:id="6a6d95ca-f674-45d9-8bb5-f1a55583f976" property_host="sor-product.us-e2.cloudhub.io" property_port="80" property_basePath="/api/products" property_protocol="HTTP" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="47cd3b21-6c21-43ca-8d4a-3da6a95f03f9" basePath="/api" >
		<http:request-connection host="sor-product.us-e2.cloudhub.io" />
	</http:request-config>
	<flow name="proxying-a-soap-apiFlow" doc:id="12a66cac-aeb4-4d23-b3ea-f3e13a60b7df" >
		<http:listener doc:id="6b7a0d4c-8d09-401a-a7e6-501817d11f87" doc:name="" config-ref="HTTP_Listener_config" path="/api"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="2b2aa896-f897-4ef0-9369-3156d3ada5c2" >
			<route >
				<http:request method="GET" doc:id="8e2f73dd-e007-47ba-8ab9-56d0c2e5f57a" doc:name="" config-ref="HTTP_Request_configuration1" path="/products"/>
				<logger level="INFO" doc:name="Logger" doc:id="27eeaa2d-fff9-4041-8164-c2769281f2cd" message="post call payload: #[payload]"/>
				<ee:transform doc:name="Transform Message" doc:id="88567ae0-a0e9-42a9-9871-0d1bec5a64e7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	products: payload.products map ( product , indexOfProduct ) -> {
		brand: product.brand,
		identifier: product.identifier default "",
		model: product.model,
		rating: product.rating,
		description: product.description default "",
		pictures: product.pictures map ( picture , indexOfPicture ) -> picture,
		price: product.price
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="579fccdb-2eaa-4519-b74d-5598fc4f69eb" message="payload[0] : #[payload]"/>
			</route>
			<route >
				<wsc:consume config-ref="Web_Service_Consumer_Config" doc:name="productServiceSoap" doc:id="b4850a7c-18ad-47d8-a19d-cb05ca45d70f" operation="GetProducts">
		</wsc:consume>
				<ee:transform doc:name="Create response" doc:id="8a3e2c81-37e3-49f8-9b25-4c4399e0e272">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://com.vnext.petshop/ProductService
---
{
	products: (payload.body.ns0#GetProductsResponse.ns0#GetProductsResult.*ns0#Product map( product , indexOfProduct ) -> {
		brand: product.ns0#CategoryId default "",
		identifier: product.ns0#ProductId default "",
		model: product.ns0#Name default "",
		rating: "",
		description: product.ns0#Description default "",
		pictures: product.ns0#ImageUrl default []
	})
}
	 

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="47e8f25b-f97c-405f-a071-e098515e3618" message="payload[1] : #[payload]"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="c4fc4252-7e23-4d78-b255-d82a48ca3e02" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
products: (payload[0].payload.products default []) ++ (payload[1].payload.products default [])
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
