sor-product-1.0.0-snapshot-mule-application/target/META-INF/mule-src/sor-product/src/main/mule/sor-product.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="sor-product-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sor-product-config" raml="sor-product.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sor-product-main">
        <http:listener config-ref="sor-product-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sor-product-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d240e6f1-9f88-4c0c-885d-c8db79789335">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="35d07a5b-a27c-4442-b504-076ec7a8dc81">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2425c91a-d6dc-4f67-9432-4720f0c18924">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2e6d61de-fad3-4d9b-965d-0e76fa0c94c2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="e628cd33-b026-43de-92bb-35b7d5c846b5">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sor-product-console">
        <http:listener config-ref="sor-product-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sor-product-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\categories:sor-product-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  categories: [
    {
      identifier: "fe3d0325-be8c-45b8-aa96-2331f25542be",
      name: "Sweaters",
      description: "Sweaters"
    }, 
    {
      identifier: "d3d0d1fd-b33c-4d40-b559-04665aa9ead6",
      name: "Hats",
      description: "Hats"
    }, 
    {
      identifier: "5e5b095e-8b60-429c-98bf-da36afeb1f1c",
      name: "Shirts",
      description: "Shirts"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\categories\(categoryId)\products:sor-product-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="categoryId">attributes.uriParams.categoryId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  products: [
    {
      brand: "Anypoint",
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      model: "Smart Slim Micro Stripe Shirt",
      rating: 5,
      description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
      pictures: [
        "https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&hei=494", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 34.90,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }, 
    {
      brand: "Anypoint",
      identifier: "e1c515f9-102d-4830-b353-18fe48065732",
      model: "Uniforms Modern Fit Short Sleeve Polo Shirt",
      rating: 5,
      description: "Machine Wash, Tumble Dry. True to Size.",
      pictures: [
        "https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 12.95,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products:sor-product-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  products: [
    {
      brand: "Anypoint",
      identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      identifiers: {
        SKU: "UGG-BB-PUR-06"
      },
      model: "Smart Slim Micro Stripe Shirt",
      rating: 5,
      description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
      pictures: [
        "https://launderkart.com/wp-content/uploads/2016/07/Shirt.jpg", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 34.90,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\variants:sor-product-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.productId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  variants: [
    {
      productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
      identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
      identifiers: {
        SKU: "UGG-BB-PUR-06"
      },
      pictures: [
        "https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&hei=494", 
        "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
      ],
      configuration: [
        {
          characteristic: {
            code: "size",
            description: "Size",
            name: "Size of item"
          },
          characteristicValue: {
            code: "M",
            name: "Medium"
          }
        }, 
        {
          characteristic: {
            code: "color",
            description: "Color",
            name: "Color"
          },
          characteristicValue: {
            code: "blue",
            name: "Blue"
          }
        }
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\categories\(categoryId):sor-product-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="categoryId">attributes.uriParams.categoryId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "5e5b095e-8b60-429c-98bf-da36afeb1f1c",
  name: "Shirts",
  description: "Shirts"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId):sor-product-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.productId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  brand: "Anypoint",
  identifier: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
  identifiers: {
    SKU: "UGG-BB-PUR-06"
  },
  model: "Smart Slim Micro Stripe Shirt",
  rating: 5,
  description: "Shirt by ASOS Tall. Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\" tall",
  pictures: [
    "https://launderkart.com/wp-content/uploads/2016/07/Shirt.jpg", 
    "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
  ],
  price: {
    amount: {
      currency: "USD",
      currencyValue: 34.90,
      name: "Amount"
    },
    salesUnit: {
      code: "EA",
      name: "Each"
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\variants\(variantId):sor-product-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.productId</ee:set-variable>
                <ee:set-variable variableName="variantId">attributes.uriParams.variantId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  productId: "eb8c8ca7-3c42-4489-a820-3aa138430b75",
  identifier: "88668866-2c6d-4fa6-9e17-4b2c42e0f051",
  identifiers: {
    SKU: "UGG-BB-PUR-06"
  },
  pictures: [
    "https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&hei=494", 
    "https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&hei=494"
  ],
  configuration: [
    {
      characteristic: {
        code: "size",
        description: "Size",
        name: "Size of item"
      },
      characteristicValue: {
        code: "M",
        name: "Medium"
      }
    }, 
    {
      characteristic: {
        code: "color",
        description: "Color",
        name: "Color"
      },
      characteristicValue: {
        code: "blue",
        name: "Blue"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
