ds/src/main/mule/ds.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="dsFlow" doc:id="c88f4268-2e5c-40a9-898b-4ebfdaaa45e2" >
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ddcea47d-aa8a-4614-bde9-07affc1fe902" />
	</flow>
</mule>
