papinew/src/main/mule/papinew.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="papinewFlow" doc:id="ac424731-f437-4a9a-b3ed-0c05b4c363b8" >
		<http:listener doc:name="Listener" doc:id="f740c575-a148-4017-ba9e-39b19b3917f4" config-ref="HTTP_Listener_config" path="/papi"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="aa8a69cd-20db-4083-9a1c-096706272d7c">
			<route >
				<http:request method="GET" doc:name="GET /sapi" doc:id="bb2feec4-bbf3-4678-9d32-8d5a9aa443a7" config-ref="HTTP_Request_Sapi" path="${http_request_sapi.path}" />
				<ee:transform doc:name="Transform Message" doc:id="41de4b67-ba2a-4190-9b53-a7c4319aa575" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	products: payload.products map ( product , indexOfProduct ) -> {
		brand: product.brand,
		identifier: product.identifier default "",
		model: product.model,
		rating: product.rating,
		description: product.description default "",
		pictures: product.pictures map ( picture , indexOfPicture ) -> picture,
		price: product.price
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<http:request method="GET" doc:name="GET /petstore" doc:id="f954fe20-442b-4978-a57d-6114f5b2362f" config-ref="HTTP_Request_petstore" path="${http_request_petstore.path}"/>
				<ee:transform doc:name="Transform Message" doc:id="2fa11588-69f7-43ef-a2c9-f54a6327e06f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="18d8a26f-7573-4311-8872-e03737b91aa8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
products: payload
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
