papinew/src/main/mule/papinew.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration_Sapi" doc:name="HTTP Request configuration" doc:id="d4501ed2-9295-4fbc-8731-329c4ad7193d" >
		<http:request-connection host="${http_request_sapi.host}" port="${http_request_sapi.port}" />
	</http:request-config>
	<flow name="papinewFlow" doc:id="ea2cb963-3bdd-48eb-828b-71ffc8c9114b" >
		<http:listener doc:name="Listener" doc:id="c7b2c4c1-68c4-4d2f-9b22-3430bd9ca83e" config-ref="HTTP_Listener_config" path="/papi"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="3f429638-d1c0-4df0-8060-01b0d7ca17a1">
			<route >
				<http:request method="GET" doc:name="Get /sapi" doc:id="7abddd37-4d79-49e5-a2ec-553b39c969bc" config-ref="HTTP_Request_configuration_Sapi" path="${http_request_sapi.path}" outputMimeType="application/json"/>
				<logger level="INFO" doc:name="Logger" doc:id="6ba7d0bd-8b80-49e4-b423-c8b67d4c936c" message="#[payload]" />
			</route>
			<route >
				<http:request method="GET" doc:name="GET /petstore" doc:id="ba11258a-9f22-4693-9730-6dacecafa6eb" config-ref="HTTP_Request_petstor" path="${http_request_petstore.path}" outputMimeType="application/json"/>
				<logger level="INFO" doc:name="Logger" doc:id="7dae630c-ed2c-43b4-8c47-9e34d81658b2" message="#[payload]"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="3fffdb14-ea83-4178-9148-9878d88eeeef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
 products: [ payload[0].payload ] ++ (payload[1].payload.products default [])
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
